package org.nspl.data

private[nspl] trait DataTuples {

 [#implicit def productsToRow(t: Tuple1[[#Double#]]): Row = new Row {
  def apply(i: Int) = t.productElement(i).asInstanceOf[Double]
  def allColumns = t.productIterator.toVector.map(_.asInstanceOf[Double])
  def label = t.toString
  def dimension = t.productArity
  override def toString = t.toString
  }
  #
  ]

}
