name: CI
on:
  pull_request:
  push:
    branches-ignore: [master]
jobs:
  publish:
    runs-on: ubuntu-20.04
    steps:
      - uses: actions/checkout@v2.3.4
        with:
          fetch-depth: 0
      - uses: olafurpg/setup-scala@v10
      - run: sbt -J-Xmx3000m +compile +saddle/test +versionPolicyCheck
        
